@model HMSv.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<div class="limiter">
    <div class="container-login100" style="background-image: url('../../Content/party/images/bg-01.jpg');">
        <div class="wrap-login100">
            <form action="@Url.Action("Register", "Account")" method="post" role="form" class="login100-form validate-form">
                @Html.AntiForgeryToken()
                <span class="login100-form-logo">
                    <i class="zmdi zmdi-landscape"></i>
                </span>

                <span class="login100-form-title p-b-34 p-t-27">
                    Register as new User
                </span>

                <div class="wrap-input100 validate-input" data-validate="Enter username">
                    <input id="username" class="input100" type="text" name="username" placeholder="Username">
                    <span class="focus-input100" data-placeholder="&#xf207;"></span>
                </div>

                <div class="wrap-input100 validate-input" data-validate="Enter email">
                    <input id="email" class="input100" type="email" name="email" placeholder="Email">
                    <span class="focus-input100" data-placeholder="&#xf207;"></span>
                </div>

                <div class="wrap-input100 validate-input" data-validate="Enter password">
                    @*@Html.PasswordFor(m => m.Password, new { @class = "input100" })*@
                   
                    <input class="input100" type="password" name="password" placeholder="Password">
                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "focus-input100" })
                    <span class="focus-input100" data-placeholder="&#xf191;"></span>
                </div>

                <div class="wrap-input100 validate-input" data-validate="Confirm Password">
                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "input100" })
                    @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "focus-input100" })
                    <span class="focus-input100" data-placeholder="&#xf191;"></span>
                </div>

                <div class="container-login100-form-btn">
                    <button type="submit" class="login100-form-btn">
                        Register
                    </button>
                </div>

                <div class="text-center p-t-90">
                    <a class="txt1" href="@Url.Action("Index","Home")">
                        Go back
                    </a>
                </div>
            </form>
        </div>
    </div>
</div>
