
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>@ViewBag.Title Four Apple Hotels</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="We help you making your every experience count, Creating an instant momentum and turning word of mouth into bookings." />
    <meta name="keywords" content="Hotel bookings, summer holidays, Vacations, Dubai Hotels, FourApple Hotel management, FourApple,bookings, dubai bookings" />
    <meta name="author" content="FourApple Hotel management Systems" />

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,700" rel="stylesheet">
    <!-- Animate.css -->
    <link rel="stylesheet" href="css/animate.css">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
    <!-- Icomoon Icon Fonts-->
    <link rel="stylesheet" href="~/Content/css/icomoon.css">
    <!-- Bootstrap  -->
    <link rel="stylesheet" href="~/Content/css/bootstrap.css">
    <link rel="stylesheet" href="~/Content/css/animate.css">
    <!-- Magnific Popup -->
    <link rel="stylesheet" href="~/Content/css/magnific-popup.css">

    <!-- Flexslider  -->
    <link rel="stylesheet" href="~/Content/css/flexslider.css">

    <!-- Owl Carousel -->
    <link rel="stylesheet" href="~/Content/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/Content/css/owl.theme.default.min.css">

    <!-- Date Picker -->
    <link rel="stylesheet" href="~/Content/css/bootstrap-datepicker.css">
    <!-- Flaticons  -->
    <link rel="stylesheet" href="~/Content/fonts/flaticon/font/flaticon.css">

    <!-- Theme style  -->
    <link rel="stylesheet" href="~/Content/css/style.css">

    <!-- Modernizr JS -->
    <script src="~/Content/js/modernizr-2.6.2.min.js"></script>
    <!-- FOR IE9 below -->
    <!--[if lt IE 9]>
    <script src="js/respond.min.js"></script>
    <![endif]-->

</head>
<body>
    <div id="page">
        <nav class="fourapple-nav  navbar-fixed-top" role="navigation">
            <div class="top">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-4">
                            <p class="site">@Variables.ShortName</p>
                        </div>
                        <div class="col-xs-8 text-right">
                            <p class="num">Call: +01-123-456</p>
                            <ul class="fourapple-social">
                                @*
                                    <li><a href="#"><i class="icon-twitter"></i></a></li>
                                    <li><a href="#"><i class="icon-facebook"></i></a></li>
                                    <li><a href="#"><i class="icon-linkedin"></i></a></li>
                                    <li><a href="#"><i class="icon-dribbble"></i></a></li>*@
                                @if (!User.Identity.IsAuthenticated)
                                {
                                    <li><a href="@Url.Action("Register","Account")"> Register</a></li>
                                    <li><a href="@Url.Action("Login","Account")">Login</a></li>}
                                else
                                {
                                    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm"}))
                                    {
                                        @Html.AntiForgeryToken()
                                    <li><a href="#">Hey @User.Identity.Name </a></li>
                                    <li>
                                        <a href="javascript:document.getElementById('logoutForm').submit()">Log off</a>
                                    </li>
}
                                }
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div style="border: none; border-radius: 0;margin-bottom: 0;" class="top-menu navbar">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-2">
                            <div id="fourapple-logo">
                                <a href="#">
                                    <img src="~/Content/Images/logos/logo.png" data-toggle="tooltip" data-placement="bottom" title="@Variables.FullName" />
                                </a>
                            </div>
                        </div>
                        <div class="col-xs-10 text-right menu-1">
                            <ul>
                                <li class="active"><a href="index-2.html">Home</a></li>
                                <li class="has-dropdown">
                                    <a href="rooms-suites.html">Hotels &amp; Apartments</a>
                                    <ul class="dropdown">
                                        <li><a href="#">Best Western</a></li>
                                        <li><a href="#">New Royal Mark Apartment</a></li>
                                        <li><a href="#">Pearl Park Hotel Apartment</a></li>
                                        <li><a href="#">Al Khaleej Grand Hotel</a></li>
                                        <li><a href="#">Mount Royal Hotel</a></li>
                                        <li><a href="#">White Fort Hotel </a></li>
                                        <li><a href="#">Mariana Hotel</a></li>
                                        <li><a href="#">Grand Sina Hotel</a></li>
                                        <li><a href="#">New Avon Hotel</a></li>
                                    </ul>
                                </li>
                                <li class="has-dropdown">
                                    <a href="dining-bar.html">Restaurants</a>
                                    <ul class="dropdown">
                                        <li><a href="">Pearl Dining Meter Kabab Restaurant</a></li>
                                        <li><a href="">Pinoy Fusion</a></li>
                                        <li><a href="">Faham</a></li>
                                        <li><a href="">Haji Ali Juice Center</a></li>
                                        <li><a href="">Diera Village</a></li>
                                    </ul>
                                </li>
                                <li class="has-dropdown">
                                    <a href="aminities.html">Banquets</a>
                                    <ul class="dropdown">
                                        <li><a href="">Creek Ball Room (Hall A &frasl; Hall B)</a></li>
                                        <li><a href="">IPA Hall</a></li>
                                    </ul>
                                </li>
                                <li><a href="blog.html">Awards &amp; Achievements</a></li>

                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
        @RenderBody()

        <div id="fourapple-subscribe" style="background-image: url('../../Content/Images/header/img_bg_2.jpg'); ">
            <div class="overlay"></div>
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-md-offset-3 text-center fourapple-heading animate-box">
                        <span><i class="icon-star-full"></i><i class="icon-star-full"></i><i class="icon-star-full"></i><i class="icon-star-full"></i><i class="icon-star-full"></i></span>
                        <h2>Sign Up for a Newsletter</h2>
                        <p>Get A 50% Discounts in every Rooms, Book now!</p>
                        <form class="form-inline qbstp-header-subscribe">
                            <div class="row">
                                <div class="col-md-12 col-md-offset-0">
                                    <div class="form-group">
                                        <input type="text" class="form-control" id="email" placeholder="Enter your email">
                                        <button type="submit" class="btn btn-primary">Subscribe</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <footer id="fourapple-footer" role="contentinfo">
            <div class="container">
                <div class="row row-pb-md">
                    <div class="col-md-3 fourapple-widget">
                        <h4>@Variables.FullName</h4>
                        <p>Facilis ipsum reprehenderit nemo molestias. Aut cum mollitia reprehenderit. Eos cumque dicta adipisci architecto culpa amet.</p>
                        <p>
                            <ul class="fourapple-social-icons">
                                <li><a href="#"><i class="icon-twitter"></i></a></li>
                                <li><a href="#"><i class="icon-facebook"></i></a></li>
                                <li><a href="#"><i class="icon-linkedin"></i></a></li>
                                <li><a href="#"><i class="icon-dribbble"></i></a></li>
                            </ul>
                        </p>
                    </div>
                    <div class="col-md-3 fourapple-widget">
                        <h4>Quick Links</h4>
                        <p>
                            <ul class="fourapple-footer-links">
                                <li><a href="#">Accomodation</a></li>
                                <li><a href="#">Dining &amp; Bar</a></li>
                                <li><a href="#">Restaurants</a></li>
                                <li><a href="#">Beach &amp; Resorts</a></li>
                            </ul>
                        </p>
                    </div>
                    <div class="col-md-3">
                        <h4>Recents Blog Post</h4>
                        <ul class="fourapple-footer-links">
                            <li><a href="#">The Ultimate Packing List For Female Travelers</a></li>
                            <li><a href="#">How These 5 People Found The Path to Their Dream Trip</a></li>
                            <li><a href="#">A Definitive Guide to the Best Dining and Drinking Venues in the City</a></li>
                        </ul>
                    </div>

                    <div class="col-md-3 col-md-push-1">
                        <h4>Contact Information</h4>
                        <ul class="fourapple-footer-links">
                            <li>291 South 21th Street, <br> Suite 721 New York NY 10016</li>
                            <li><a href="tel://1234567920">+ 1235 2355 98</a></li>
                            <li><a href="mailto:info@yoursite.com">info@yoursite.com</a></li>
                            <li><a href="http://luxehotel.com/">fourapple.com</a></li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 text-center">
                        <p>
                            <small class="block">
                                <!-- Link back to fourapple can't be removed. Template is licensed under CC BY 3.0. -->
                                Copyright &copy;
                                <script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made by <a href="https://fourapple.com/" target="_blank">@Variables.ShortName</a>
                                <!-- Link back to fourapple can't be removed. Template is licensed under CC BY 3.0. -->
                            </small>
                            <small class="block">Demo Images: <a href="http://pixbay.com/" target="_blank">pixbay</a></small>
                        </p>
                    </div>
                </div>
            </div>
        </footer>
    </div>


    <!-- jQuery -->
    <script src="~/Content/js/jquery.min.js"></script>
    <!-- jQuery Easing -->
    <script src="~/Content/js/jquery.easing.1.3.js"></script>
    <!-- Bootstrap -->
    <script src="~/Content/js/bootstrap.min.js"></script>
    <!-- Waypoints -->
    <script src="~/Content/js/jquery.waypoints.min.js"></script>
    <!-- Flexslider -->
    <script src="~/Content/js/jquery.flexslider-min.js"></script>
    <!-- Owl carousel -->
    <script src="~/Content/js/owl.carousel.min.js"></script>
    <!-- Magnific Popup -->
    <script src="~/Content/js/jquery.magnific-popup.min.js"></script>
    <script src="~/Content/js/magnific-popup-options.js"></script>
    <!-- Date Picker -->
    <script src="~/Content/js/bootstrap-datepicker.js"></script>
    <!-- Main -->
    <script src="~/Content/js/main.js"></script>

    <script src="~/Content/js/tilt.jquery.js"></script>
    <script src="~/Content/js/tilt.js"></script>
    <script>
        $('.js-tilt').tilt({
            glare: true,
            maxGlare: .5,
            scale: 1.1
        })
    </script>
    <div class="gototop js-top">
        <a href="#" class="js-gotop"><i class="icon-arrow-up2"></i></a>
    </div>
    @RenderSection("scripts", required: false)
</body>
</html>
