
@model HMSv.Areas.Dashboard.ViewModels.AccomodationCreateModel

@if (Model != null)
{
    <div class="modal-content">
        <div class="modal-header bg-info text-white">
            <h5 class="modal-title">
                @if (Model.ID == 0)
                {
                    <span>Create new Accomodation</span>
}
                else
                {
                    <span>Edit an Accomodation</span>
}
            </h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span class="text-white" aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <!-- Form-->
            <form id="actionForm">
                <div class="form-group">
                    <label for="Name">Name</label>
                    <input type="text" class="form-control" id="Name" name="Name" value="@Model.Name" placeholder="Enter accomodation name.">

                </div>
                <div class="form-group">
                    <label for="AccomodationPackageID">Accomodation Package</label>
                    <select class="form-control" id="AccomodationPackageID" name="AccomodationPackageID">
                        @if (Model.AccomodationPackages != null)
                        {
                            foreach (var item in Model.AccomodationPackages)
                            {
                                <option value="@item.ID" @(item.ID == Model.AccomodationPackageID ? "selected" : string.Empty)>
                                    @item.Name
                                </option>
}
                        }
                    </select>
                </div>
                @Html.HiddenFor(a => a.ID)
                @Html.AntiForgeryToken()
            </form>
        </div>

        <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            <button id="saveBtn" type="button" class="btn btn-primary">Save</button>

        </div>
    </div>
}

<script>
    $("#saveBtn").on('click', function () {
        $.ajax({
            url: '@Url.Action("Save","Accomodation")',
            type: 'post',
            data: $("#actionForm").serialize()
        })
        .done(function (response) {
            if (response.Success) {
                $("#toast").toast('show');
                $("#toast").addClass("bg-success");
                $("#err").html(response.Message);
                $("#actionModal").modal("hide");
                $.get(response.Link, function (partial) {
                    $("#tableContainer").html(partial);
                });

            }
            else {
                $("#actionModal").modal("hide");
                $("#toast").toast('show');
                $("#toast").addClass("bg-danger");
                $("#err").html(response.Message);
            }
        })
    });
</script>


