@model HMSv.ViewModels.AccomodationPackageDetailsViewModels
@{
    ViewBag.Title = "Details";
}

@if (Model != null && Model.AccomodationPackage != null)
{
    var thumbnail = Model.AccomodationPackage.AccomodationPackagePictures != null && Model.AccomodationPackage.AccomodationPackagePictures.Count > 0 ? Model.AccomodationPackage.AccomodationPackagePictures.First() : new HMSv.Entities.AccomodationPackagePictures();
    var url = thumbnail.Picture != null ? thumbnail.Picture.URL : "default.png";

<aside id="fourapple-hero">
    <div class="flexslider">
        <ul class="slides">
            <li style="background-image: url(../../Content/Images/site/@url);">
                <div class="overlay"></div>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-6 col-sm-12 col-md-offset-3 slider-text">
                            <div class="slider-text-inner slider-text-inner2 text-center">
                                <h2>@Model.AccomodationPackage.AccomodationType.Name</h2>
                                <h1>@Model.AccomodationPackage.Name</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</aside>

<div id="fourapple-amenities">
    <div class="container">
        <div class="row">
            <div class="amenities-flex">
                <div class="desc animate-box">
                    <p class="price">
                        <span class="currency">$</span>
                        <span class="price-room">@Model.AccomodationPackage.FeePerNight</span>
                        <span class="per">/ per night</span>
                    </p>
                    <p style="font-weight:bold;">
                        <span>No Of Rooms: @Model.AccomodationPackage.NoOfRooms</span>
                    </p>
                    <p>@Model.AccomodationPackage.Description</p>
                </div>
                @foreach (var item in Model.AccomodationPackage.AccomodationPackagePictures)
                {
                    var imageUrl = item.Picture != null ? item.Picture.URL : "default.png";
                    <div class="amenities-img animate-box" style="height:400px;background-image: url(../../Content/Images/site/@imageUrl);"></div>
}
            </div>
        </div>
    </div>
</div>
}