@model HMSv.ViewModels.HomeViewModels
@{
    ViewBag.Title = "Home Page";
}

<aside id="fourapple-hero">
    <div class="flexslider">
        <ul class="slides">
            <li style="background-image: url(../../Content/Images/header/banner.jpg);">
                <div class="overlay"></div>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-6 col-sm-12 col-md-offset-3 slider-text">
                            <div class="slider-text-inner text-center">
                                <h2>Welcome To Four Apple Hotels</h2>
                                <h1>A Luxury Hotel</h1>
                                <p><a class="btn btn-success btn-demo" href="#fourapple-services">Our Services</a> <a href="#fourapple-rooms" class="btn btn-primary btn-learn">Bookings</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li style="background-image: url(./Content/Images/header/banner2.jpg);">
                <div class="overlay"></div>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-6 col-sm-12 col-md-offset-3 slider-text">
                            <div class="slider-text-inner text-center">
                                <h2>Discover &amp; Enjoy</h2>
                                <h1>Let Your Imagination Go Wild</h1>
                                <p><a class="btn btn-success btn-demo" href="#fourapple-services">Our Services</a> <a href="#fourapple-rooms" class="btn btn-primary btn-learn">Bookings</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li style="background-image: url(./Content/Images/header/img_bg_2.jpg);">
                <div class="overlay"></div>
                <div class="container-fluids">
                    <div class="row">
                        <div class="col-md-6 col-sm-12 col-md-offset-3 slider-text">
                            <div class="slider-text-inner text-center">
                                <h2>You are invited</h2>
                                <h1>We know how to please you</h1>
                                <p><a class="btn btn-success btn-demo" href="#fourapple-services">Our Services</a> <a href="#fourapple-rooms" class="btn btn-primary btn-learn">Bookings</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li style="background-image: url(./Content/Images/header/img_bg_4.jpg);">
                <div class="overlay"></div>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-6 col-sm-12 col-md-offset-3 slider-text">
                            <div class="slider-text-inner text-center">
                                <h2>Come &amp; enjoy the unforgetable nights</h2>
                                <h1>In the heart of Four Apple Hotels</h1>
                                <p><a class="btn btn-success btn-demo" href="#fourapple-services">Our Services</a> <a href="#fourapple-rooms" class="btn btn-primary btn-learn">Bookings</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</aside>

<div id="fourapple-reservation">
    <div class="container ">
        <div class="row ">
            <div class="col-md-12 search-wrap animate__animated animate__pulse animate__repeat-1 animate__slow">
                <form method="post" class="fourapple-form ">
                    <div class="row ">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="date">Check-in:</label>
                                <div class="form-field">
                                    <i class="icon icon-calendar2"></i>
                                    <input type="text" id="date" class="form-control date" placeholder="Check-in date">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="date">Check-out:</label>
                                <div class="form-field">
                                    <i class="icon icon-calendar2"></i>
                                    <input type="text" id="date" class="form-control date" placeholder="Check-out date">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="adults">Adults</label>
                                <div class="form-field">
                                    <i class="icon icon-arrow-down3"></i>
                                    <select name="people" id="people" class="form-control">
                                        <option value="#">1</option>
                                        <option value="#">2</option>
                                        <option value="#">3</option>
                                        <option value="#">4</option>
                                        <option value="#">5+</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="children">Children</label>
                                <div class="form-field">
                                    <i class="icon icon-arrow-down3"></i>
                                    <select name="people" id="people" class="form-control">
                                        <option value="#">1</option>
                                        <option value="#">2</option>
                                        <option value="#">3</option>
                                        <option value="#">4</option>
                                        <option value="#">5+</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <input type="submit" name="submit" id="submit" value="Search" class="btn btn-success btn-block">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div id="fourapple-services">
    <div class="container">
        <div class="row">
            <div class="col-md-3 animate-box text-center">
                <div class="services">
                    <span style="transform-style:preserve-3d;  box-shadow: 0 4px 8px 0 rgba(0, 153, 51, 0.2), 0 6px 20px 0 rgba(64, 255, 0, 0.19);" class="icon js-tilt">
                        <i style="transform:translateZ(30px);" class="flaticon-reception"></i>
                    </span>
                    <h3>24/7 Front Desk</h3>
                    <p>Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean. A small river named Duden flows by their place and supplies</p>
                </div>
            </div>
            <div class="col-md-3 animate-box text-center">
                <div class="services">
                    <span style="transform-style:preserve-3d;  box-shadow: 0 4px 8px 0 rgba(0, 153, 51, 0.2), 0 6px 20px 0 rgba(64, 255, 0, 0.19);" class="icon js-tilt">
                        <i style="transform:translateZ(30px);" class="flaticon-herbs"></i>
                    </span>
                    <h3>Spa Suites</h3>
                    <p>Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean. A small river named Duden flows by their place and supplies</p>
                </div>
            </div>
            <div class="col-md-3 animate-box text-center">
                <div class="services">
                    <span style="transform-style:preserve-3d;  box-shadow: 0 4px 8px 0 rgba(0, 153, 51, 0.2), 0 6px 20px 0 rgba(64, 255, 0, 0.19);" class="icon js-tilt">
                        <i style="transform:translateZ(30px);" class="flaticon-car"></i>
                    </span>
                    <h3>Transfer Services</h3>
                    <p>Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean. A small river named Duden flows by their place and supplies</p>
                </div>
            </div>
            <div class="col-md-3 animate-box text-center">
                <div class="services">
                    <span style="transform-style:preserve-3d;  box-shadow: 0 4px 8px 0 rgba(0, 153, 51, 0.2), 0 6px 20px 0 rgba(64, 255, 0, 0.19);" class="icon js-tilt">
                        <i style="transform:translateZ(30px);" class="flaticon-cheers"></i>
                    </span>
                    <h3>Restaurant &amp; Bar</h3>
                    <p>Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean. A small river named Duden flows by their place and supplies</p>
                </div>
            </div>
        </div>
    </div>
</div>

@if (Model.AccomodationType != null || Model.AccomodationType.Count > 0)
    {
        var i = 0;
    <div id="fourapple-rooms" class="fourapple-light-grey">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3 text-center fourapple-heading animate-box">
                    <span><i class="icon-star-full"></i><i class="icon-star-full"></i><i class="icon-star-full"></i><i class="icon-star-full"></i><i class="icon-star-full"></i></span>
                    <h2>Rooms &amp; Suites</h2>
                    <p>Select Accomodation Type</p>
                    <p>
                        @foreach (var item in Model.AccomodationType)
                        {
                            <button data-id="@item.ID" class="btn btn-sm changeAccomadtionType">@item.Name</button>
                        }
                    </p>
                </div>
            </div>
            @foreach (var accomodationType in Model.AccomodationType)
            {
                <div data-id="@accomodationType.ID" class="row accomodationTypeRow" >
                    <div class="col-md-12 animate-box">
                        <div class="owl-carousel owl-carousel2">
                            @foreach (var item in Model.AccomodationPackage.Where(x=>x.AccomodationTypeID==accomodationType.ID))
                            {
                                var thumbnail = item.AccomodationPackagePictures != null && item.AccomodationPackagePictures.Count > 0 ? item.AccomodationPackagePictures.First() : new HMSv.Entities.AccomodationPackagePictures();
                                var url = thumbnail.Picture != null ? thumbnail.Picture.URL : "default.png";
                                <div class="item">
                                    <a href="@Url.Action("Details","Home", new {accomodationPackageID=item.ID })" class="room" style="background-image: url('../../Content/Images/site/@url');"></a>
                                    <div class="desc text-center">
                                        <span class="rate-star"><i class="icon-star-full full"></i><i class="icon-star-full full"></i><i class="icon-star-full full"></i><i class="icon-star-full"></i><i class="icon-star-full"></i></span>                                    <h3>
                                            <a href="@Url.Action("Details","Home", new {accomodationPackageID=item.ID })">@item.Name</a>
                                        </h3>
                                        <p class="price">
                                            <span class="price">@item.FeePerNight AED</span>
                                        </p>
                                        <p><a href="@Url.Action("Details","Home", new {accomodationPackageID=item.ID })" class="btn btn-primary btn-book">Book now!</a></p>
                                    </div>
                                </div>
}

                        </div>
                    </div>

                </div>
i++;
            }

        </div>
    </div>
}